.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  position: relative; /* Para posicionar el botón de cierre */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.inputField, .dateField, .selectField {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.button {
  background-color: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.button:hover {
  background-color: #333;
}
